<% provide(:title, "Projects/Work") %>

<div class="page-proj">
  <div class="container text-container-overlay-two">
    <h2>Projects and Work Experience</h2>
  </div>


  <div class="container text-container-two" style="border-left-color: #ff6666; border-right-color: #ff6666">
    <div>
      <h3><a href="https://itunes.apple.com/us/app/bookin-it/id1057026778?mt=8" target="_blank">Bookin' It</a></h3>
      <p><b>Mobile game for the App Store with associated website: Swift, Web (HTML, CSS, JS), Adobe Illustrator</b></p>
      <p class="more">Bookin' It is an iOS game created with Swift and launched in 2015. "Join our hero as he jumps from book to book in a mystical never-ending library! Control the floating books to guide him! Test your reflexes and perception, and see how well you can Book It!" All artwork, music, and code was created by my friends and me. Additionally, I founded a small corporation called <a href="http://www.naebor.net/" target="_blank">Naebor, Inc.</a> to use as the app's seller. I am excited to create more software for this company and bring out its potential.</p>
    </div>
  </div>
  <div class="container text-container-two" style="border-left-color: #00cc66; border-right-color: #00cc66">
    <div>
      <h3>Undergraduate Student Instructor</h3>
      <p><b>Lab and discussion sections, and course development: Snap! (Build Your Own Blocks), Python, Web (HTML, CSS, JS)</b></p>
      <p class="more">I taught two semesters of labs and discussions and worked one semester on course development from 2014 to 2015 for UC Berkeley course <a href="http://cs10.org/" target="_blank">Computer Science 10</a> (CS10). CS10 is an introductory course taught primarily in the visual, graphical language <a href="https://snap.berkeley.edu/" target="_blank">Snap! (Build Your Own Blocks)</a>. An introduction to Python is taught the last few weeks of the course. I prepared each week for labs, discussions, and office hours, and also participated in two staff meetings per week to give suggestions and finalize lesson plans. In my course development semester, I worked to improve lab exercises for the course. I also spent time organizing the course's past exams to increase efficiency in creating discussion and review resources.</p>
    </div>
  </div>
  <div class="container text-container-two" style="border-left-color: #6600cc; border-right-color: #6600cc">
    <div>
      <h3>Professional Development Teaching Assistant</h3>
      <p><b>Discussion sections for high school teachers and course development: Snap! (Build Your Own Blocks), Edge edX platform</b></p>
      <p class="more">I taught two summers (2014, 2015) of the <a href="http://bjc.berkeley.edu/" target="_blank">Beauty and Joy of Computing</a> (BJC), a national high school variant of Berkeley course CS10 mentioned above, to high school teachers from all over the country. BJC has already launched on the <a href="https://www.edx.org/course?search_query=BJC" target="_blank">edX platform</a> and enrolled over 50,000 students. In 2016, the BJC content will be launched as the new <a href="https://advancesinap.collegeboard.org/stem/computer-science-principles" target="_blank">AP Computer Principles</a> course. I led discussions to 100+ high school teachers to better prepare them with the material. I also created the discussion resources, hosted the course content on the Edge edX platform, answered course questions, and recorded feedback to better improve the course.</p>
    </div>
  </div>
  <div class="container text-container-two" style="border-left-color: #ff9933; border-right-color: #ff9933">
    <div>
      <h3>Head Grader</h3>
      <p><b>Assignment grading and management of other graders: Snap! (Build Your Own Blocks), Python</b></p>
      <p class="more">I graded the quizzes, homeworks, and projects of students for a semester in 2013 for Berkeley course CS10 mentioned above. I also had administrative responsibilities which included: organizing submissions and delegating them to the graders, making sure readers completed grading in a timely fashion, and returning feedback to the students. The graders have weekly meetings to discuss grading rubrics and give ideas on improving the course as a whole.</p>
    </div>
  </div>
  <div class="container text-container-two" style="border-left-color: #66b2ff; border-right-color: #66b2ff">
    <div>
      <h3>Python Compiler</h3>
      <p><b>Lexer and parser, abstract and decorated abstract syntax tree, and code generator: C++, Python</b></p>
      <p class="more">With a group of three people, we extensively used C++ to compile a large subset of the Python programming language. This school project was completed in three parts over the semester, and required thousands of lines of code and 200+ tests.</p>
    </div>
  </div>
  <div class="container text-container-two" style="border-left-color: #f2eb28; border-right-color: #f2eb28">
    <div>
      <h3><a href="http://cs169tracks.herokuapp.com/" target="_blank">Tracks</a></h3>
      <p><b>Music collaboration website with uploading, recording, editing, and song combining with multiple users: Django, Web (HTML, CSS, JS), jQuery</b></p>
      <p class="more">Tracks is a music collaboration website where you can upload, record, edit, and combine your work with multiple users. This school project was largely independent, as our group was given nearly-complete creative freedom. We used Django as our framework and launched the site with Heroku. Other features include user profiles and a news feed style listing to show what your collaborators are working on, to make the site feel more like a social experience.</p>
    </div>
  </div>
</div>
  