<% provide(:title, "Home") %>

<!-- Header -->
<!-- <header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Our Studio!</div>
      <div class="intro-heading">It's Nice To Meet You</div>
      <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
    </div>
  </div>
</header> -->

<!-- Home Section -->
<!-- <section id="home">
</section> -->

<div class="page-home">
  <div class="container text-container-overlay-five">
    <div>
      <p class="nav-properties">college graduate, software developer, gamer</p>
    </div>
  </div>
  <div class="container text-container-overlay">
    <div>
      <h2>Welcome to my site!</h2> 
      <p>"Conquering challenges takes intense determination, which takes great motivation, which takes some concentration, which takes just enough passion; to put your goals first, and the couch second. Get off the couch, bum." &#8212; me</p>
      <p>Check out my tabs and see what I've done. Skip to <%= link_to "tab 4", fun_path %> if you just wanna have fun!</p>
    </div>
  </div>
  <div class="text-container-overlay-four">
    <div class="container">
      <!-- <h3>Contact</h3>
      <p>jasnowiss@gmail.com</p>
      <p><a href="https://www.linkedin.com/in/jeffreysnowiss" target="_blank">linkedin</p>
      <p><a href="https://github.com/jasnowiss" target="_blank">github</p> -->
      <div class="row">
        <div class="col-md-2">
          <h3>Contact</h3>
        </div>
        <div class="col-md-3 vcenter">
          <p class="nav-properties">jasnowiss@gmail.com</p>
        </div>
        <div class="col-md-2 vcenter">
          <p class="nav-properties"><a href="https://www.linkedin.com/in/jeffreysnowiss" target="_blank">linkedin</p>
        </div>
        <div class="col-md-4 vcenter">
          <p class="nav-properties"><a href="https://github.com/jasnowiss" target="_blank">github</p>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-3">
          <h3>Contact</h3>
        </div>
        <div class="col-md-3">
          <p>jasnowiss@gmail.com</p>
          <p><a href="https://www.linkedin.com/in/jeffreysnowiss" target="_blank">linkedin</p>
          <p><a href="https://github.com/jasnowiss" target="_blank">github</p>
        </div>
      </div> -->
    </div>
  </div>
</div>


<!-- <hr style="height:1px;border:none;color:#333;background-color:#333;" /> -->

<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; jeffsnowiss.com 2016</span>
      </div>
    </div>
  </div>
</footer> -->