<% provide(:title, "Resume") %>

<div class="page-resume">
  <div class="container">
    <h2>Resume</h2>
    <p><%= link_to image_tag("resume/pdfversion2.png", size: "140x40"), asset_path("resume.pdf"), target: '_blank' %></p>
    <div class="resume-container">
      <h3 style="text-align: center">Jeffrey Snowiss</h3>
      <hr>
      <h4 style="text-align: center; padding-bottom: 15px">+1 310 683 8551 | <a href="mailto:jasnowiss@gmail.com" target="_top">jasnowiss@gmail.com</a> | <a href="http://jeffsnowiss.com">jeffsnowiss.com</a></h4>
      <h4><b>OBJECTIVE</b></h4>
      <hr>
      <p><b>Seeking an entry-level software engineering position.</b></p>
      <h4>PROFESSIONAL EXPERIENCE</h4>
      <hr>
      <div>
        <p style="display:inline-block"><b>University of California, Berkeley</b></p>
        <p style="display:inline-block; float:right"><b>Berkeley, CA</b></p>
      </div>
      <div>
        <p style="display:inline-block"><em>BJC PD Teaching Assistant</em></p>
        <p style="display:inline-block; float:right"><em>Jun 2014 - Aug 2014, Jun 2015 - Aug 2015</em></p>
      </div>
      <ul>
        <li>Taught two summers as a Beauty and Joy of Computing (BJC) Professional Development (PD) Teaching Assistant. BJC is a variant of Berkeley’s CS10 (Computer Science 10) course designed to be taught by high school teachers all across the country. In 2017, the BJC content will be launched as the new AP Computer Principles course. I led discussions to over one-hundred high school teachers, better preparing them to teach the BJC material. My other duties included creating the discussion materials, answering course questions, and recording feedback to better improve the course.</li>
      </ul>
      <div>
        <p style="display:inline-block"><b>University of California, Berkeley</b></p>
        <p style="display:inline-block; float:right"><b>Berkeley, CA</b></p>
      </div>
      <div>
        <p style="display:inline-block"><em>CS10 Teaching Assistant</em></p>
        <p style="display:inline-block; float:right"><em>Jan 2014 - May 2015</em></p>
      </div>
      <ul>
        <li>Taught two semesters of labs and discussions for over one hundred students for Computer Science 10. Also worked one semester purely on course development. Lab is geared towards teaching students the fundamentals of programming, and discussion is geared towards explaining algorithms and the big ideas of computer science, as well as preparing students for exams. Since CS10 is a constantly evolving course, teaching assistants largely contribute to its development.</li>
      </ul>
      <h4>PROJECTS</h4>
      <hr>
      <p><b><a href="https://itunes.apple.com/us/app/bookin-it/id1057026778?mt=8" target="_blank">Bookin’ It</a></b></p>
      <ul>
        <li>Created and launched a mobile game on the App Store using the Swift programming language. The process was a very interesting and stimulating experience, as I worked on every aspect of the game. I wrote 5000+ lines of code, and collaborated on the 100+ images and 15+ songs and sound effects.</li>
      </ul>
      <p><b><a href="http://www.swellnow.com" target="_blank">SwellNow</a></b></p>
      <ul>
        <li>Built a surf forecasting website featuring real-time swell charts that pull data from NOAA buoys. I created the framework for the website with Ruby on Rails to display the charts, and configured the server that updates the charts in real-time. The site was co-founded by my friend and me.</li>
      </ul>
      <p><b><a href="http://bit.ly/wibs-gh" target="_blank">"What If" Blackjack Simulator </a></b></p>
      <ul>
        <li>Substantially modified a simplified Java Blackjack program to include all the rules of a Vegas table. It also includes 15+ gameplay options to cover the various rule changes different tables use, as well as a simulator that can run millions of rounds with relative ease. The simulator can additionally run with nearly any playing and betting strategy that can be thought of.</li>
      </ul>
      <h4><b>EDUCATION</b></h4>
      <hr>
      <div>
        <p style="display:inline-block"><b>University of California, Berkeley</b></p>
        <p style="display:inline-block; float:right"><b>Berkeley, CA</b></p>
      </div>
      <div>
        <p style="display:inline-block"><em>B.S. Electrical Engineering and Computer Science</em></p>
        <p style="display:inline-block; float:right"><em>2011 - 2015</em></p>
      </div>
      <h4>TECHNICAL SKILLS</h4>
      <hr>
      <p><b>Proficient in:</b> Python, Java, Swift, Mac OS X.</p>
      <p><b>Experienced in:</b> HTML5, CSS3, JavaScript, Unix, Git/Github, Rails, C++, MATLAB, LaTeX, Adobe Illustrator.</p>
      <h4>ACTIVITIES AND AWARDS</h4>
      <hr>
      <div>
        <p style="display:inline-block"><b>Trumpet, </b>University of California Marching Band</p>
        <p style="display:inline-block; float:right"><em>Aug 2011 - Dec 2014</em></p>
      </div>
      <div>
        <p style="display:inline-block"><b>Eagle Scout, </b> Boy Scouts of America</p>
        <p style="display:inline-block; float:right"><em>Jun 2010</em></p>
      </div>
    </div>
  </div>
</div>